.nav-1 .navcol .nav .navlink{
    color: rgb(255, 255, 255);
}

.nav-1{
    background-color: blueviolet;
    font-weight: bold;
}

.navlink {
    margin-left: 50px;
    margin-right: 50px;
    padding-left: 20px;
    padding-right: 20px;
}

.navlink:hover {
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(138,43,226,1) 100%);
}