@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

.about{
    /* background-color: rgb(87, 87, 87); */
    margin: 6px;
}

h4{
    font-weight: bolder;
    /* border-style: inset; */
    border-bottom: solid 2px;
    border-color: rgb(139, 135, 255);
    /* color: aquamarine; */
    color: blueviolet;
    margin: 0;
    /* background-color: rgb(236, 236, 236); */
    font-family: 'Varela Round', 'sans-serif';
}

.intro{
    margin: 1px;
    padding: 4px;
    /* color: whitesmoke; */
    border-style: groove;
    /* border-bottom: solid 2px; */
    background-color: aliceblue;
    border-color: rgb(139, 135, 255);
    font-family: 'Varela Round', 'sans-serif';
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0%), 0 6px 20px 0 rgba(0, 0, 0, 71%);
    transition: 0.3s;
}

.intro:hover {
    margin: 2px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 50%), 0 6px 20px 0 rgba(0, 0, 0, 71%);
}

.educational-details{
    margin: 1px;
    padding: 4px;
    /* background-color: rgb(87, 87, 87); */
    /* color: whitesmoke; */
    border-style: groove;
    background-color: aliceblue;
    border-color: rgb(139, 135, 255);
    font-family: 'Varela Round', 'sans-serif';
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0%), 0 6px 20px 0 rgba(0, 0, 0, 71%);
    transition: 0.3s;
}

.educational-details:hover {
    margin: 2px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 50%), 0 6px 20px 0 rgba(0, 0, 0, 71%);
}

.experience{
    margin: 1px;
    padding: 4px;
    /* background-color: rgb(87, 87, 87); */
    /* color: whitesmoke; */
    border-style: groove;
    background-color: aliceblue;
    border-color: rgb(139, 135, 255);
    font-family: 'Varela Round', 'sans-serif';
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0%), 0 6px 20px 0 rgba(0, 0, 0, 71%);
    transition: 0.3s;
}

.experience:hover {
    margin: 2px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 50%), 0 6px 20px 0 rgba(0, 0, 0, 71%);
}

.achievements{
    /* margin: 2px;
    margin-bottom: 28px;
    padding: 4px;
    color: black;
    border-style: groove;
    background-color: aliceblue;
    border-color: rgb(139, 135, 255);
    font-family: 'Varela Round', 'sans-serif';
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0%), 0 6px 20px 0 rgba(0, 0, 0, 71%); */
    margin: 1px;
    margin-bottom: 28px;
    padding: 4px;
    /* background-color: rgb(87, 87, 87); */
    /* color: whitesmoke; */
    border-style: groove;
    background-color: aliceblue;
    border-color: rgb(139, 135, 255);
    font-family: 'Varela Round', 'sans-serif';
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0%), 0 6px 20px 0 rgba(0, 0, 0, 71%);
    transition: 0.3s;
}

.achievements:hover {
    margin: 2px;
    margin-bottom: 28px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 50%), 0 6px 20px 0 rgba(0, 0, 0, 71%);
}

.achievements a {
    color:rgb(166, 0, 255);
    text-decoration: none;
}
.achievements a:hover {
    color: chocolate;
}

.fav-subs{
    /* margin: 1px;
    margin-bottom: 28px;
    padding: 4px;
    color: black;
    border-style: groove;
    background-color: aliceblue;
    border-color: rgb(139, 135, 255);
    font-family: 'Varela Round', 'sans-serif';
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0%), 0 6px 20px 0 rgba(0, 0, 0, 71%); */

    margin: 1px;
    margin-bottom: 28px;
    padding: 4px;
    /* background-color: rgb(87, 87, 87); */
    /* color: whitesmoke; */
    border-style: groove;
    background-color: aliceblue;
    border-color: rgb(139, 135, 255);
    font-family: 'Varela Round', 'sans-serif';
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0%), 0 6px 20px 0 rgba(0, 0, 0, 71%);
    transition: 0.3s;
}

.fav-subs:hover {
    margin: 2px;
    margin-bottom: 28px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 50%), 0 6px 20px 0 rgba(0, 0, 0, 71%);
}

.skills{
    /* margin: 1px;
    padding: 4px;
    color: black;
    border-style: groove;
    background-color: aliceblue;
    border-color: rgb(139, 135, 255);
    font-family: 'Varela Round', 'sans-serif';
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0%), 0 6px 20px 0 rgba(0, 0, 0, 71%); */

    margin: 1px;
    margin-bottom: 28px;
    padding: 4px;
    /* background-color: rgb(87, 87, 87); */
    /* color: whitesmoke; */
    border-style: groove;
    background-color: aliceblue;
    border-color: rgb(139, 135, 255);
    font-family: 'Varela Round', 'sans-serif';
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0%), 0 6px 20px 0 rgba(0, 0, 0, 71%);
    transition: 0.3s;
}

.skills:hover {
    margin: 2px;
    margin-bottom: 28px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 50%), 0 6px 20px 0 rgba(0, 0, 0, 71%);
}