@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

.home{
    width: 100vw;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.home-container{
    padding-top: 20px;
    font-size: 40px;
    font-weight: bold;
    color: blueviolet;
}

.img-container {
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 30px;
    box-shadow: none;
    width: 500px;
    height: auto;
}

.img-container:hover {
    box-shadow: none;
}

img {
    box-shadow: none;
}

img:hover {
    box-shadow: none;
}

@media (max-width: 1200px) {
}

.home-text {
    text-shadow: 2px 2px 5px blueviolet;
}